:root {
  --secondary: #3d3b67;
  --primary: #06afd1;
  --white: #d9d9d9;
}

.blog-hero h1 {
  color: var(--white);
}

.blog-hero {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/projectsbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 90px 10%;
}

.hr-analytics {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/HR-Analytics.jpg);
}

.automobile {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/automobile.png);
}

.ambor {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/sales\ analytics.png);
}

.ethusd {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/ETH-USD.jpg);
}

.student {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/student-perfomance.jpeg);
}

.remote {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/remote\ sensing.jpg);
}

.spatial {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/spatial\ data\ analysis.png);
}

.titanic {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/titanic\ eda.jpg);
}

.southwest {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/southwest\ precipitation.png);
}

.btcusd {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/BTCUSD.jpg);
}

.bike {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/BMW\ Motorrad.webp);
}

.order {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/order.jpg);
}

.hotel {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/hotel\ revenue\ data.webp);
}

.covid {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/COVID.jpg);
}

.tiktok {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/tiktok.webp);
}

.covid-dashboard {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/covid\ dashboard.webp);
}

.cpa {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/cpa.webp);
}

.uk-road {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/uk\ accidents.webp);
}

.web-scrapping {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/web\ scraping.webp);
}

.fin-board {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/featuredIMG/Financial\ Dashboard.jpg);
}

.lang2 {
  justify-content: flex-start;
}

.article {
  background: var(--white);
}

.article p {
  color: var(--secondary);
}

.article h3 {
  text-align: unset;
  color: var(--secondary);
}

.blog-img {
  text-align: center;
  margin: 20px 0;
}

.blog-img a,
.blog-link a, .b-link {
  color: var(--secondary);
}

img {
  width: 90%;
  max-width: max-content;
}

figcaption {
  color: var(--secondary);
  font-size: small;
}

.blog li,
.blog li {
  margin-left: 35px;
}

.blog li {
  font-weight: 400;
  font-size: 16px;
  line-height: 160.02%;
  color: var(--secondary);
}



@media screen and (max-width: 550px) {
  img {
    width: 100%;
    max-width: max-content;
  }

  .blog-hero {
    padding: 90px 7%;
  }
}




@media screen and (min-width: 1440px) {
  .blog-hero {
    padding: 90px 3%;
  }
}