@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
}

:root {
  --secondary: #3d3b67;
  --primary: #06afd1;
  --white: #d9d9d9;
}

section {
  padding: 60px 7%;
}

.header,
footer {
  padding: 10px 5%;
}

/* FONTS */
h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary);
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--secondary);
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  margin: 10px 0;
}

label,
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--secondary);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160.02%;
  color: var(--white);
}

a {
  font-weight: 600;
  font-size: 15px;
  line-height: 160.02%;
  text-decoration: none;
  color: var(--white);
}

.nav-menu ul li a:hover,
.active {
  color: var(--primary);
}

.sec-btn {
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
}

/* HEADER */

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.header {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.header a h2 {
  color: var(--white);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 35px;
}

nav ul li:nth-child(3) a,
.pri-btn {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
}

/* NAV MENU START */
/* MOBILE MENU STYLE */
.nav-mobile {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  /* padding: 25px; */
  direction: ltr;
  right: 100%;
  transition: 0.4s;
  top: auto;
}

.nav-mobile.is-active {
  right: 0;
}

.nav-mobile ul {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
}

.nav-mobile li {
  margin: 30px 0;
}

/* mobile menu */
.hamburger {
  position: relative;
  width: 30px;
  cursor: pointer;
  display: none;
}

.bar,
.hamburger::before,
.hamburger::after {
  width: 80%;
  height: 2px;
  background-color: var(--primary);
  margin: 6px 0;
  content: "";
  display: block;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-5px, 5.8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* NAV MENU ENDS */

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  /* background: var(--secondary); */

  /* padding: unset; */
  background: linear-gradient(
    90deg,
    rgba(61, 59, 103, 1) 70%,
    rgba(6, 175, 209, 1) 70%
  );
}

.hero .left {
  width: 50%;
}

.hero .btn-con {
  margin: 30px 0;
}

.hero-link {
  border-bottom: 2px solid white;
}

.hero .left h1 {
  display: flex;
  flex-direction: column;
}

.hero .right {
  width: 50%;
  text-align: center;
}

.hero .right img {
  width: 80%;
  /* max-width: max-content; */
}

/* ABOUT SECTION */
.about {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 30px;
}

.about p {
  color: var(--secondary);
}
.about .left {
  width: 57%;
}

.about .right {
  width: 40%;
}

.about-icons {
  display: flex;
  gap: 10%;

  width: 70%;
}

/* PROJET SECTION */
.projects {
  background: var(--secondary);
}

.projects .title {
  color: var(--white);
}

.project-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4.5%;
}

.card {
  width: 30%;
  border-radius: 5px;
  border: 1px solid var(--primary);
  margin-top: 50px;
}

.card:hover {
  box-shadow: 0 9px 40px rgba(0, 0, 0, 0.329);
  transition: 0.3s;
}

.card img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  /* filter: grayscale(color: red); */
}

.lang {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  padding: 0 10px;
}

.lang small {
  color: var(--white);
  padding: 5px 7px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.btn {
  text-align: center;
  margin-top: 30px;
}

/* SLIDER */

.dashboard {
  text-align: center;
}

.dashboard p {
  color: var(--secondary);
  margin-bottom: 30px;
}

.slider-cont {
  padding: 50px 3%;
  background: white;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-container {
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 30px;
  overflow: hidden;
}

.card-1 {
  background-color: #fff;
  position: relative;
}

.card-1:hover .card-content {
  display: flex;
}

.card-content {
  position: absolute;
  top: 0;

  height: inherit;
  width: inherit;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d3b67cc;
}

.card-img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: contain;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

/* CONTACT SECTION */

.contact {
  text-align: center;
  background: var(--white);
}

.contact h3 {
  color: var(--secondary);
}

/* FOOTER */
footer {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 700;
  display: flex;
  justify-content: center;
}

/* PROJECT PAGE */
.project-hero {
  background-image: linear-gradient(
      rgba(61, 59, 103, 0.8) 70%,
      rgba(61, 59, 103, 0.8) 70%
    ),
    url(/assets/projectsbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-hero h1 {
  color: var(--white);
}

/* CONTACT PAGE */
.contact-hero {
  text-align: center;
}

.contact-hero h1,
.contact-hero p {
  color: var(--secondary);
}

.form {
  display: flex;
  justify-content: space-between;
  background: var(--white);
}

.form .left,
.form .right {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 30px;
}

.box {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--secondary);
  outline: none;
  width: 80%;
}

.box:focus {
  box-shadow: 0 0 5px var(--primary);
}

.box-2 {
  resize: none;
}

input:last-child {
  width: max-content;
  cursor: pointer;
  outline: none;
  border: none;

  margin-top: 20px;
}

.form .right p {
  color: var(--secondary);
}

.form .right p:nth-child(3) {
  margin-top: 60px;
  margin-bottom: 25px;
}

.form .right h4 {
  margin-top: 25px;
}

.contact-icons {
  display: flex;
  align-items: center;
  gap: 5%;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 17px;
  }

  .hero .right img {
    width: 70%;
  }

  label,
  h4 {
    font-size: 17px;
  }
}

@media screen and (max-width: 860px) {
  .hero {
    flex-wrap: wrap;
    gap: 50px;
    background: linear-gradient(
      180deg,
      rgba(61, 59, 103, 1) 70%,
      rgba(6, 175, 209, 1) 70%
    );
  }

  .hero .left,
  .hero .right {
    width: 100%;
  }

  .about {
    gap: 40px;
  }

  .about .left,
  .about .right {
    width: 100%;
  }

  .project-tile {
    gap: 9%;
  }

  .card {
    width: 45%;
  }

  .about-icons {
    width: 50%;
  }

  .form {
    flex-direction: column;
    gap: 30px;
  }

  .form .left,
  .form .right {
    width: 100%;
  }

  .box {
    width: auto;
  }

  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {

  .hero {
    padding: 80px 7%;
  }

  .hero .right img {
    width: 90%;
  }

  .card {
    width: 100%;
  }

  .about-icons {
    width: 100%;
  }

  .hero {
    background: linear-gradient(
      180deg,
      rgba(61, 59, 103, 1) 75%,
      rgba(6, 175, 209, 1) 75%
    );
  }

  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hero .left h1 {
    display: unset;
  }

  .carousel img {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  section,
  .header,
  /* footer,  */
  .hero {
    width: 100%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
  }

  header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
  }

  .header {
    /* padding: 10px 50px; */
  }

  section {
    padding: 3% 3%;
  }

  .hero {
    padding: 80px 3%
  }

  .card {
    width: 29%;
  }

  body {
    background: var(--secondary);
    overflow-x: hidden;
  }

  .c-hero {
    background: #fff;
  }
}